.footer {
    margin-top: 80px;
    padding: 2.5rem 0;
    color: #fff;
    text-align: center;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top: .05rem solid #e5e5e5;
}
.footer p:last-child {
    margin-bottom: 0;
}
.imagen-footer{
    width: 80px;
}